.input {
    width: 65%;
    border: none;
    outline: none;
    border-radius: 1rem;
    padding:  1rem 2rem;
    margin: 10px;
    font: inherit;
    direction: rtl;
    font-size: 15px;
}

.error {
    border: 1px solid red;
}

.password-input-wrapper {
    position: relative;
}

.show-password {
    cursor: pointer;
    background-color: inherit;
    padding: 0;
    border: none;
    color: rgb(165, 163, 163);
    position: absolute;
    left: 13%;
    top: 38%;
    font-size: 17px;
}
