main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 58rem;
}

.container {
    background-color: aliceblue;
    width: 20%;
    height: auto;
    border-radius: 20px;
    padding: 2rem;
    text-align: center;
}
